            <nav className='navbar2'>
    <ul>
        <li className='nox'><a href='#'>About us</a>
        <ul>
            <li ><a href='#'>About us</a></li>
            <li ><a href='#'>History</a></li>
            <li ><a href='#'>FBN Nigeria Board of Directors</a></li>
            <li ><a href='#'>Management team</a></li>
            <li ><a href='#'>FBN Careers</a></li>
        </ul>
        </li>
        <li className='nox'><a href='#'>Quick Link</a>
        <ul>
            <li ><a href='#'>Accessibily</a></li>
            <li ><a href='#'>Banking code</a></li>
            <li ><a href='#'>Complaint process</a></li>
            <li ><a href='#'>PSD2</a></li>
        </ul>
        </li>
        <li className='nox'><a href='#'>Security</a>
        <ul>
            <li ><a href='#'>Security tips</a></li>
            <li ><a href='#'>Password security</a></li>
            <li ><a href='#'>Online security</a></li>
            <li ><a href='#'>internet security tips</a></li>
            <li ><a href='#'>Scan email</a></li>
            <li><a href='#'>Fraud alert</a></li>
            <li><a href='#'>Debit Card and Pin Security</a></li>
        </ul>
        </li>
        <li className='nox'><a href='#'>Service</a>
        <ul>
            <li ><a href='#'>InstitutionBanking</a></li>
            <li ><a href='#'>Private Banking</a></li>
            <li ><a href='#'>Corporate Banking</a></li>
            <li ><a href='#'>Savings Account</a></li>
        </ul>
        </li>
        <li className='nox'><a href='#'>Follow us</a>

        </li>
                
        <li><a href='#'><img className='img9' src={img9} alt='pic' width='118px' height='121px'/></a></li>
    </ul>
</nav>